---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const happy = true;
const finished = true;
const goal = 3;
const identity = {
  firstName: "Macc Supreme",
  country: "USA",
  occupation: "Software Engineer",
  hobbies: ["coding", "family-time", "gaming"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome layout</h2>
</BaseLayout>