---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>This will be the home page</h2>
  <ul>
    <li>Previews of what to expect</li>
    <li>Overview of weeks activities</li>
    <li>hmmmm....</li>
  </ul>
</BaseLayout>